@import url("https://fonts.google.com/specimen/Nunito+Sans");

.light{
    --text-color:hsl(200, 15%, 8%);
    --element-color:hsl(0, 0%, 100%);
    --background-color:hsl(0, 0%, 98%);
}

.dark{
    --text-color:hsl(0, 0%, 100%);
    --element-color:hsl(209, 23%, 22%);
    --background-color:hsl(207, 26%, 17%);
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    background-color: var(--background-color);
}

img{
    max-width: 100%;
    display: block;
}

b{
    margin-right: .5rem;
}

.nav-header{
    background-color: var(--element-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.nav{
    width: 90%;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--element-color);
    padding: 1rem 0;
    margin-inline: auto;
    margin-bottom: 1rem
}

.nav button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
}

.nav button ion-icon{
    position: absolute;
    top: .1rem;
    left: -.5rem;
}

.filters-con{
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.filters-con select{
    width: 15%;
    outline: none;
    border-radius: 5px;
    background-color: var(--element-color);
    color: var(--text-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}

.filters-con option:hover{
    background-color: var(--background-color);
}

.filter input{
    outline: none;
    height: 1.5rem;
    background-color: var(--element-color);
    color: var(--text-color);
    border: none;
    padding: .5rem;
    padding-left: 2rem;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
}

.filter{
    width: 25%;
    position: relative;
}

.filter ion-icon{
    position: absolute;
    font-size: 1rem;
    top: .75rem;
    left: .5rem;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.container{
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4,22%);
    grid-auto-rows: 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 4%;
}

.con-link{
    display: block;
}

.country{
    height: 100%;
}

.con-sin{
    width: 90%;
    margin: 10px auto;
}

.country-sin{
    display: flex;
    margin-top: 3.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country-sin img{
    width: 400px;
    max-height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.country-info{
    display: flex;
    gap:5rem;
    margin-bottom: 3rem;
}

.border-cou{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.border-cou h3{
    align-self: center;
}

.borders{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.borders div{
    padding: .5rem;
    background-color: var(--element-color);
    margin: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.back{
    background-color: var(--element-color);
    color: var(--text-color);
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.back ion-icon{
    margin-right: 5px;
    padding-top: 5px;
}

h3{
    font-weight: 800;
}

.country{
    background-color: var(--element-color);
    border-radius: 5px;
    overflow: hidden;
    transition: .2s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.country:hover{
    transform: scale(1.1);
}

.details{
    width: 90%;
    margin: auto;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.details span{
    font-weight: 600;
    margin-right: 5px;
}

.details{
    justify-content: center;
}

.detail{
    margin-bottom: .5rem
}

.country img{
    width: 100%;
    height: 160px;
}

@media (max-width:350px) {
    .container{
        grid-template-columns: 100%;
    }
    .country-info{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .filter{
        width: 55%;
    }
    .filters-con select{
        width: 25%;
    }
    .back{
        width: 50%;
    }
    .border-cou{
        display: block;
    }
    .borders{
        justify-content: flex-start;
    }
}